@font-face {
    font-family: 'primeregular';
    src: url('prime_regular-webfont.eot');
    src: url('prime_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('prime_regular-webfont.woff') format('woff'),
         url('prime_regular-webfont.ttf') format('truetype'),
         url('prime_regular-webfont.svg#primeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}