//======================
@mixin gradient($r1, $g1, $b1,   $r2, $g2, $b2 )
{
  background: -webkit-linear-gradient(top, rgba($r1, $g1, $b1, 1) 20%, rgba($r2, $g2, $b2, 1) 80%);
  background: -moz-linear-gradient(top, rgba($r1, $g1, $b1, 1) 20%, rgba($r2, $g2, $b2, 1) 80%);
  background: -ms-linear-gradient(top, rgba($r1, $g1, $b1, 1) 20%, rgba($r2, $g2, $b2, 1) 80%);
  background: -o-linear-gradient(top, rgba($r1, $g1, $b1, 1) 20%, rgba($r2, $g2, $b2, 1) 80%);
  background: linear-gradient(to top, rgba($r1, $g1, $b1, 1) 20%, rgba($r2, $g2, $b2, 1) 80%);
}
//======================
*{
	margin:0;
	padding:0;	
}
//......
body{
    background-color: black;
    color: yellow;          
    font-family:Verdana, sans-serif;
    font-size:14px; 
    font-weight:normal;
}
//...... 
.div1 {
    background-color: #333;
    border: 2px #666 dashed;
    display: inline-block;
    height: 300px;
    padding: 0;
    vertical-align: top;
    width: 400px;
}
//......
.div2 {
    //background-color: #666; 
    border: 1px cyan dashed;
    background: white url(../imgs/logotipo.jpg) top left no-repeat; 
    display: inline-block;
    height: 200px;
    margin: 0 6px 0 0;
    width: 100px;
}
//......
.div3 {
    //background-color: #666;  
    border: 1px white dashed;
    //background: #333 url(../imgs/logotipo.jpg) top left no-repeat; 
    display: inline-block;
    height: 200px;
    margin: 0 6px 0 0;
    width: 100px;

    @include gradient(100, 0, 0,   100, 160, 0 );
}
//......
.div4 {
    //background-color: #666;       
    border: 1px cyan dashed;
    //background: url(img_flwr.gif) right bottom no-repeat, url(paper.gif) left top repeat;
    background: url(../imgs/btn_fb.png) top left no-repeat, url(../imgs/btn_youtube.png) bottom left no-repeat; 
    display: inline-block;
    height: 200px;
    margin: 0 6px 0 0;
    width: 100px;
}
//......